@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonts/HelveticaNeueLTStd-Bd.woff2") format("woff2"),
        url("./fonts/HelveticaNeueLTStd-Bd.otf") format("opentype");
}

@font-face {
    font-family: "DIN Regular";
    src: url("./fonts/DIN-Regular.woff2") format("woff2"),
        url("./fonts/DIN-Regular.otf") format("opentype");
}

:root {
    --transition: 0.1s ease-out;
}

* {
    font-family: "DIN Regular", "Helvetica Neue", -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", sans-serif;
}

body {
    background-color: #0f0f0f;
    text-align: center;
    margin: 0;
    color: #747474;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.logo {
    width: 155px;
    max-width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}

.logo svg {
    max-width: 100%;
}

.hidden {
    display: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2em;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

main {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::selection {
    color: inherit;
    background: #292929;
}

#text {
    width: 493px;
    height: 235px;
}

@media only screen and (max-width: 900px) {
    .hidden {
        display: block;
    }
    #text {
        display: none;
    }
}
